body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden;
    cursor: none;
}

#cursor{
 
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
  pointer-events: none; /* Prevent cursor from interacting with the element */
  mix-blend-mode: difference; /* Blend mode for a unique effect */
}


@keyframes trail {
    to {
      transform: scale(0);
      opacity: 0;
    }
  }
  
  .halo {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(34, 255, 0);
    border-radius: 50%;
    animation: trail 0.5s ease-out forwards;
  }


  

